Port 22
Protocol 2
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
AuthorizedKeysFile	.ssh/authorized_keys
SyslogFacility AUTH
LogLevel DEBUG1
AllowAgentForwarding yes
ClientAliveInterval 3
ClientAliveCountMax 0
